.cover{
    width: 100%;
    height: 300px;
    background-image: url("./media/coli.webp");
    background-color: #000000;
    background-position: center;
    padding: 1% 10% 2% 10%;
    background-color: rgba(93, 93, 255, 0.281);
}
.coverTitle{
    width: 100%;
}

.coverH1{
    color: rgb(255, 255, 255);
    font-size: 4vw;
}

.coverH2{
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}

.coverTop{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.coverComet{
    display: flex;
}

.coverCometText{
    width: 114px;
    color: white;
    font-size: small;
    text-align: end;
    margin-right: 10px;
}

.coverEcoliImg{
    position: absolute;
    width: 1360px;
    right: -503px;
    top: -314px;
    z-index: 1;
}
.coverUnamLogo{
    width: 100%;
    max-width: 90px;
    height: auto;
}

.coverSearch{
    width: 80%;
    position: relative;
    margin: 2%;
    z-index: 5;
}

.coverBottom{
    margin-left: 5%;
    margin-right: 3%;
}