.cover{
    width: 100%;
    height: 340px;
    background-image: url("./media/coli.webp");
    background-color: #000000;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.coverTop{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.coverTitle{
    width: 100%;
}
.coverH1{
    color: white;
    font-size: 57px;
    padding-left: 5%;
}
.coverH2{
    color: white;
    font-size: 24px;
    padding-left: 8%;
}
.coverComet{
    display: flex;
}
.coverCometText{
    width: 114px;
    color: white;
    font-size: small;
    text-align: end;
    margin-right: 10px;
}
.coverUnamLogo{
    background-image: url("./media/unamLogo.png");
    width: 90px;
}

.coverBottom{
    margin-left: 5%;
    margin-right: 3%;
    width: 100%;
}