.tableComponent {
    font-family: arial;
    font-size: 15px;
    border-collapse: collapse;
    background-color: white;
    width: 100%;
  }

  tr:nth-child(even) {
    background-color: #F4F5F5;
  }
