.auto_input {
  border: 1px solid #999;
  padding: 0.5rem;
  height: 30px;
  width: 100%;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(100%);
  background-color: white;
  position:relative;
  display: block;
}

.suggestions li {
  padding: 0.5rem;
  background-color: white;
  display: block;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #eee;
  color: #000000;
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.autocompleteBlock {
  height: 33px;
  width: 100%;
  display: block;
}

.autocomleteSelection{
  cursor: pointer;
}
.autocomleteSelection:hover{
  background-color: #cadce7;
}