.base {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

.imageLogo {
    margin: 10px;
    height: 70px;
}

.press{
display: flex;
justify-content: space-between;
margin: 0 3% 0 3%;
}

.links{
    margin: 20px;
}