.container{
    display: grid;
    grid-template-columns: auto auto;
}

.anchors{
    max-width: 235px;
    margin-right: 15px;
    position: relative;
}

.anchorsSticky{
    position: sticky;
    top: 0;
}

.body{
    margin-right: 15px;
}

.section{
    margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
    .body{
        width: 100%;
    }
    }