.btn{
  background-color: #32617d;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  margin: 25px 30px;
  padding: 20px 30px;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}