.container {
    margin: 15px 5% 15px 5%;
}

.accordionTitle{
    font-size: 18px;
    color: black;
    font-weight: 400;
}

.bodyText{
    font-size: 16px;
    color: black;
    font-weight: 200;
}

.groupText{
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
}