.paragraph{
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    line-height: 16px;
    padding-bottom: 8px;
    white-space:pre-line    
}
.paragraphs{
    word-break: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    width:98%;    
}
