
.gridContainer {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    align-items: start;
  }
  
  .gridItem {
    background-color: #1F3D4E;
    text-align: center;
    padding: 2px;
    font-size: 18px;
    border-radius: 4px;
  }
  