.home-cover{
    background-color: #000;
    height: 80vh;
    width: 100%;
    position: relative;
}

.home-cover-background{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
}
