.table_content {
    margin: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
    overflow: auto;
}

.cell_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1px;
}

.cell_item:hover {
    cursor: pointer;
    border: 1px solid black;
}

.cell_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cadce7;
    margin: 1px;
    height: 45px;
}

.cell_content:hover{
    cursor: pointer;
    border: 1px solid black;
}

.tpRow_summary{
    width: 100%;
    height: 200px;
    background-color: #f4f5f5;
}

.tpRowTitle{
    width: 100%;
    height: 35px;
    color: white;
	  background: #cadce7;
	  border-bottom: 1px solid #72a7c7;
}

.tpRow_content{
    width: 100%;
    height: 170px;
    display: -webkit-box;
    overflow: auto;
}

.tpRow_genes{
    width: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tpRow_genes_table{
    width: 100px;
}

.tpRow_genes_table th{
    width: 50px;
    font-size: 12px;
    text-align: center;
}

.tpRow_genes_table td{
    text-align: center;
}

.tpRow_gene_table{
    background-color: #cadce7;    
}

.tpRow_gene_table td{
    font-size: 10px;
    text-align: center;  
}


.tpRow_boxes{
    width: 110px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tpRow_boxes_table{
    width: 100px;
}

.tpRow_boxes_table th{
    font-size: 12px;
    text-align: center;
}
.tpRow_boxes_table td{
    font-size: 10px;
    text-align: center;
}

.tpRow_box_table th{
    font-size: 10px;
}

.tpRow_box_table{
    border: 3px solid #72a7c7;
    margin-bottom: 3px;
}

/*

.tpRow_showOption{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #c93a1d;
    height: 20px;
}

.tpRow_showOption:hover{
    cursor: pointer;
    background-color: #c93a1d99;
    border: 1px solid black;
}

.tpRow_info{
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 99999;
    height: 100px;
}
*/