.geneLayout{
    display: flex;
    grid-template-columns: 25% auto;
}

.geneFilters{
    display: block;
}

@media only screen and (max-width: 796px) {
    .geneFilters{
        display: none;
    }
  }