.table_content{
    margin: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;;
}

.cell_id{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cadce7;
    margin: 5px;
    height: 45px;
}

.cell_content:hover{
    cursor: pointer;
    border: 1px solid black;
}

.cell_list{
    display: flex;
    align-items: center;
    background-color: #cadce7;
    margin: 5px;
    height: 45px;
}

