.options{
    background-color: #C9DBE7;
    width: 100%;
    height: 30px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;;
}
.table{
    border: 1px solid;
}

.table th{
    background-color: #C9DBE7;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table td{
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
}

columnSel:hover{
    background-color: lightsteelblue;
}

.tableHead{
    position: sticky;
    top: 0;
}
