.mainTable {
    width: 100%;
}

.rowTable{
    background-color: #FFFFFF;
}

.thLabel{
    display: flex;
    justify-content: center;
}

.resizer {
    display: inline-block;
    background: #FFFFFF;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    transform: translateX(50%);
    touch-action: none;
    z-index: 1;
}

.isResizing {
    background: #c93a1d;
}

.resizerRight {
    display: inline-block;
    background: #FFFFFF;
    color:#72a7c7;
    width: 2px;
    height: 100%;
    touch-action: none;
    position: absolute;
    left: -1px;
    top: 0px;
    z-index: 0;
}

.bodyTable {
    background-color: #f4f5f5;;
    overflow-x: hidden !important;
}