.author_row{
    border-bottom: 2px solid #3d779b;
}
.bodyTableAuthor{
    background-color: rgb(255, 243, 218);
}
.scrollIndicator{
    position: relative;
    top: 21px;
    background-color: rgb(235, 235, 235);
    border-radius: 50px 50px 50px 50px;
    width: 10px;
}
.scrollThumb{
    position: relative;
    background-color: #3d779b;
    border-radius: 50px 50px 50px 50px;
    width: 10px;
}

.window_table::-webkit-scrollbar {
    height: 10px;
    width: 12px;               /* width of the entire scrollbar */
  }
  
.window_table::-webkit-scrollbar-track {
    background-color: rgb(235, 235, 235);
    border-radius: 50px 50px 50px 50px;        /* color of the tracking area */
  }
  
.window_table::-webkit-scrollbar-thumb {
    background-color: #3d779b;
    border-radius: 50px 50px 50px 50px;
  }