.body{
    display: grid;
    grid-template-columns: 10% 75% 15%;
}

.bodyMenuHide{
    display: grid;
    grid-template-columns: 0 90% 10%;
}

.content{
    margin: 0 1% 0 1%;
}

.flag_section{
    height: 1px;
    width: 100%;
}

.end_flag_section{
    position: relative;
    top: -70px;
    width: 100%;
    height: 1px;
}


.headerSticky {
    display: block;
    position: sticky;
    top: 0;
    z-index: 99;
  }

.headerNavShow {
    background-color: #f4f5f5;
    width: 100%;
    height: 65px;
    padding-left: 5%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
  }

.liSelect{
    color: #3D779B;
    font-weight: bold;
    font-size: 15px;
}

.liRest{
    color: #000;
    font-size: 14px;
}

.li{
    margin-bottom: 5px;
}

.li:hover{
    color: #1F3D4E;
    cursor: pointer;
    font-weight: bold;
}

.menuSticky{
    position: sticky;
    top: 66px;
    z-index: 99;
}

.scroll_section{
    height: 2px;
    width: 100%;
    position: relative;
    top: -60px;
    z-index: 80;
}

ul {
    list-style-type: none;
  }