.layout_header_background {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: auto;
    margin-left: 10%;
}

.layout_header_LogoRDB {
    height: auto;
    width: 100%;
    max-height: 50px;
    max-width: 290px;
}

.header_right {
    float: left;

}

.header_left {
    height: auto;
    max-height: 50px;
    margin-right: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .layout_header_background {
        display: none;
    }
  }