@charset "UTF-8";
/* CSS Document */

.md body { 
	background-color:#FFFFFF;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	
	  
}

.md p {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-style: normal;
	line-height: normal; 
	color: #003366;
	font-weight: normal;
}

.md a {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-style: normal;
	line-height: normal; 
	color: #003366;
	font-weight: normal;
	cursor: hand;
}

.md a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 12px;
	font-style: normal;
	line-height: normal; 
	color: #003366;
	font-weight: normal;
	cursor: hand;
}

.md a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 12px;
	font-style: normal;
	line-height: normal; 
	color: #003366;
	font-weight: normal;
	cursor: hand;
}

.md h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 18px;
	font-style: normal; 
	line-height: normal; 
	color: #003366; 
	font-weight: bold;
}

.md h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 16px;
	font-style: normal; 
	line-height: normal; 
	color: #fc0000; 
	font-weight: bold;
}

.md h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 14px;
	font-style: normal; 
	line-height: normal; 
	color: #00ff37; 
	font-weight: bold;
}
