.textBox {
  width: 296px;
  height: 32px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #ffffff;
  margin: 4px 0;
  box-sizing: border-box;
  outline: none;

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.textBox:hover {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.562);
}

.textBox:focus {
  border: 3px solid #72a7c7;
}
.textArea {
  height: 20em;
  width: 100%;
}
