.options {
  background-color: #f1f1f1;
  border: 1px solid #a0a0a0;
}

.firstRow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.firstRow select {
  margin: 0 50px 0 20px;
  height: 35px;
  width: 200px;
  font-size: 16px;
  transition: all 0.25s ease;
}

.firstRow label {
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.return {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #3e3e3e;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 32px;
  padding: 5px;
}
