.tab {
  font-size: 14px;
    overflow: hidden;
    box-shadow: inset -1px -8px 0px -6px #3d779b;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    color: #666666;
    float: left;
    margin: 0 2% 0 1%;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    border-right: 2px solid #d5d5d7;
    border-top: 2px solid #d5d5d7;
    border-left: 2px solid #d5d5d7;
  }
  
  /* Change background color of buttons on hover */
  
  /* Create an active/current tablink class */
  .selected {
    border-right: 2px solid #3d779b !important;
    border-top: 2px solid #3d779b !important;
    border-left: 2px solid #3d779b !important;
    border-bottom: 4px solid #ffffff !important;
  }
  
  /* Style the tab content */
  .tabcontent {
    padding-top: 5px;
    border: 2px solid #3d779b;
    border-top: none;
  }