.cover_gene{
    overflow: hidden;
    width: 100%;
}

.cover_backGene{
    height: 200px;
    width: 100%;
    display: none;
}

.display_options_rdb{
    display: flex;
      justify-content: flex-end;
      position: absolute;
      width: 100%;
      top: 125px;
  }
  
  .display_options_button{
    height: 15px;
      padding: 0;
      margin: 2px;
      font-size: 12px;
  }

  @media screen and (max-width: 600px) {
    .display_options_rdb{
      display: none;
    }
  }