.FM_headerMap{
    display: flex;
    justify-content: space-between;
}

.FM_tableMap tr:nth-child(even) td{
    background:#d3d3d3;
}

.FM_tableMap td {
    padding: 0;
    height: 16px;
}

.FM_tableMap th{
    text-align: center;
}

.FM_mapCell{
    width: 100%;
    height: 30px;
    position: relative;
}

.FM_mapLine{
    background-color: rgb(128, 128, 128);
    width: 1px;
    height: 30px;
    position: absolute;
    left: 50%;
}

.FM_mapLineH{
    background-color: black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
}

.FM_mapFeature{
    height: 30px;
    position: absolute;
}

