.table_content{
    margin: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;;
}

.cell_id{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cadce7;
    margin: 5px;
    height: 45px;
}

.cell_content:hover{
    cursor: pointer;
    border: 1px solid black;
}

.cell_list{
    display: flex;
    align-items: center;
    background-color: #cadce7;
    margin: 5px;
    height: 45px;
}

.geneTable{
  background-color: #f4f5f5;
  width: 500px;
  text-align: left;
  border-collapse: collapse;
}

.geneTable thead {
    color: white;
    background: #cadce7;
    border-bottom: 1px solid #72a7c7;
  }

  .geneTable tbody tr {
    border-bottom: 1px solid #72a7c7;
  }