.table {
    table-layout: fixed;
    position: relative;
}

.table, th, td {
    border: 2px solid #ffffff;
  }

.table tr{
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #e0e0e0;
}