.navBody {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.navBodyMenuHide {
  display: grid;
  grid-template-columns: 2% 88% 10%;
}

.hideMenu{
  position: absolute;
  top: 243px;
  z-index: 99;
}

.hideMenuSticky{
  position: sticky;
  top: 10px;
  z-index: 99;
}

.navMenu{
  margin-right: 2px;
}

/*


.navContent{
  width: 80%;
}

.navAside{
  width: 10%;
}
*/

.headerNavShow {
  background-color: #f4f5f5;
  width: 100%;
  height: 65px;
  padding-left: 5%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
}

.headerNavHide {
  display: none;
}

.menuSticky {
  position: sticky;
  top: 75px;
  z-index: 99;
}

.headerSticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

.headerNav_LogoRDB {
  max-height: 20px;
  max-width: 116px;
}

.tabHeader {
  padding-left: 5%;
  display: flow-root;
  z-index: 9999;
}

.tabContent {
  float: left;
  padding-right: 1%;
  font-size: 12px;
}

.tab_type {
  color: #666666;
  font-weight: normal;
  font-size: 10px;
}