.tableED {
  text-align: left;
  border-collapse: collapse;
}

.tableED thead {
  color: white;
  background: #cadce7;
  border-bottom: 1px solid #72a7c7;
}

.tableED tbody tr {
  border-bottom: 1px solid #72a7c7;
}