.tabHeader {
  width: 100%;
  padding-left: 10%;
  display: flow-root;
  z-index: 9999;
}

.tabContent {
  float: left;
  padding-right: 1%;
  font-size: 12px;
}

.tab_type{
  color: #666666;
  font-weight: normal;
  font-size: 10px;
}