.layout_menu_background {
  background-color: #32617d;
  height: 60px;
  width: 100%;
}

.layout_menu_LogoRDB {
  height: auto;
  margin: 0;
  width: 100%;
  max-height: 50px;
  max-width: 290px;
}

.menuItem_conteiner {
  padding-left: 5%;
  display: flex;
  justify-content: flex-start;
}

.layout_menu_body {
  display: contents;
  background-color: #72a7c7;
  height: 60px;
  width: 100%;
}

.layout_menuMovil_grid {
  display: grid;
  gap: 0px;
  width: 100%;
  height: 60px;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.layout_menuMovil_menu {
  display: flex;
  flex-direction: row-reverse;
  background: rgb(50, 97, 125);
  background: linear-gradient(
    90deg,
    rgba(50, 97, 125, 1) 0%,
    rgba(255, 255, 255, 1) 75%
  );
}
.layout_menuMovil_logo {
  display: flex;
  justify-content: space-evenly;
  background: white;
}
.layout_menuMovil_search {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(50, 97, 125, 1) 100%
  );
}

.layout_menuBody {
  position: absolute !important ;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.layout_menuBody_background{
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #72a6c70e;
}

.layout_menuMovil_header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .layout_menu_background {
    background-color: #32617d;
    width: 10%;
  }
  .layout_menu_body {
    background-color: #72a7c7;
    height: 1px;
    width: 100%;
  }
  .menuItem_conteiner {
    display: none;
  }
}


