.container {
  background-color: #dce7ed;
  border-radius: 5px;
  position: relative;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 30px;
}

.containerCode {
  display: flex;
  align-items: center;
  width: 100%;
}

.highlighter {
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0);
}

.code {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 100%;
}

.list li:nth-child(odd) {
  background-color: #e9eef1d7;
}
.list li::marker {
  /* color: #3d779b; */
  font-weight: 100;
}

.span {
  margin-top: 5px;
  width: 100%;
}

.btnCopy {
  border: 2px solid #32617d;
  background: none;
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #32617d;
  z-index: 10;
  display: block;
}

.btnCopy:hover {
  color: #fff;
  background-color: #32617d;
  transition: ease-in-out 0.4s;
}
