.container {
  background-color: #dce7ed;
  border-radius: 5px;
  color: #32617d;
  width: 100%;
  max-height: 500px;
  overflow: scroll;
}

.containerCode {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.code {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.span {
  margin-top: 5px;
  width: 100px;
}

.btnCopy {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  float: right;
  border: 2px solid #32617d;
  background: none;
  font-size: 1rem;
  margin: 15px;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #32617d;
}

.btnCopy:hover {
  color: #fff;
  background-color: #32617d;
  transition: ease-in-out 0.4s;
}
