.list {
  color: #32617d;
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
}

.category {
  color: #32617d;
  font-size: 1rem;
  font-weight: 900;
  margin: 5px 0 5px 0px;
  padding-top: 1%;
  cursor: pointer;
}

.services {
  color: #3d779b;
  font-size: 1rem;
  font-weight: 700;
  margin: 5px 0 5px 10px;
  cursor: pointer;
}

.containerLink {
  margin: 10px 0 5px 20px;
}

.link {
  font-size: 1rem;
  color: #3d779b;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

a.link a.active {
  color: red;
}
