.listElements {
  list-style-type: none;
  margin: 3% 0 3% 5%;
  padding: 0;
}

.elements {
  color: #32617d;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
}

.link {
  color: #3d779b;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}

.elements:hover,
.link:hover {
  text-decoration: underline;
  text-decoration-color: #32617d;
}
