.title {
  color: #32617d;
  font-size: 1.6rem;
}

.categorys {
  color: #32617d;
  margin-left: 10px;
  margin-right: 40px;
}

.descriptionCategory {
  margin-left: 20px;
  margin-right: 40px;
  color: #32617d;
}

.containerServiceCategory {
  color: #32617d;
  margin-left: 20px;
}

.serviceCategory {
  color: #32617d;
  font-weight: 600;
}

.descriptionServiceCategory {
  margin-left: 10px;
  margin-right: 40px;
  font-size: 1rem;
}

.containerService {
  margin: 10px 40px 10px 10px;
}

.line {
  border-top: 1px solid #e0e0e0;
}
