.serviceInfo {
  width: 95%;
}

.titles {
  color: #32617d;
  font-size: 1.1rem;
}

.description {
  font-size: 1rem;
  color: #32617d;
}

.line {
  border-top: 1px solid #e0e0e0;
}

.codeExample {
  height: 100px;
  background-color: #dce7ed;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #32617d;
}

.tryContainer {
  margin-top: 20px;
  display: inline-flex;
  background-color: #32617d;
  border-radius: 5px;
}

.tryLink {
  padding: 5px 15px;
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
}

.buttons {
  display: flex;
}

.languageSection {
  margin: 20px 20px 20px 0;
  display: inline-flex;
  border-radius: 5px;
}

.languages {
  color: #32617d;
  font-weight: 600;
  background: #fff;
  border: 0;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.languages:hover {
  background: #eeeeee;
}

.active,
.active:hover {
  background-color: #32617d;
  color: #fff;
}
