.title {
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  color: #32617d;
  font-size: 1rem;
}

.table th,
.table td {
  padding: 2px 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  color: #32617d;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.query {
  width: 35%;
}

.description {
  width: 65%;
}
.containerText {
  display: flex;
}

.table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.service {
  padding: 10px 0;
  color: #32617d;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  word-wrap: break-word;
}

.service:hover {
  text-decoration: underline;
}

.DescriptionService {
  padding-top: 5px;
  font-size: 1rem;
  width: 100%;
  word-wrap: break-word;
}
