.title {
  color: #32617d;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #32617d;
  font-size: 1rem;
}

.table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.text {
  color: #32617d;
}
