.phraseHeader{
    display: flex;
    align-items: center;
}

.phraseIconButton{
    float: left;
    width: 25px;
    height: 25px;
}

.phraseTip{
    min-width: 300px;
    position: absolute;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px 0px;
    background-color: rgb(244, 245, 245);
}