.columnL {
  float: left;
  width: 15%;
  padding: 5px;
}

.columnC {
  float: inherit;
  padding: 5px;
}

.cont {
  margin-left: 5%;
  margin-top: 2%;
}

.globalSearch {
  border: 1px solid #999999;
  border-radius: 40px;
  width: 40%;
}

.itemCol {
  display: list-item;
  padding: 2px !important;
}

.itemSel {
  padding: 0px;
}

.itemSel:hover {
  color: white !important;
  background-color: #cadce7 !important;
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.divBorder {
  padding: 0;
  border: 1px solid #1C6EA4;
}

.scrollIndicator {
  float: left;
}

.bodyTableAuthor {
  background-color: rgb(255, 243, 218);
}

.tableConteiner {
  display: flex;
}

.scrollIndicator {
  position: relative;
  background-color: rgb(235, 235, 235);
  border-radius: 50px 50px 50px 50px;
  width: 10px;
}

.scrollThumb {
  position: relative;
  background-color: #3d779b;
  border-radius: 50px 50px 50px 50px;
  width: 10px;
}

.window_table::-webkit-scrollbar {
  height: 10px;
  width: 12px;
  /* width of the entire scrollbar */
}

.window_table::-webkit-scrollbar-track {
  background-color: rgb(235, 235, 235);
  border-radius: 50px 50px 50px 50px;
  /* color of the tracking area */
}

.window_table::-webkit-scrollbar-thumb {
  background-color: #3d779b;
  border-radius: 50px 50px 50px 50px;
}