.footer {
    width: 100%;
    background-color: #32617d;
    color: white;
    display: flex;
    flex-direction: column;
    max-height: 10vh;
    height: 100vh;
}

@media (max-width: 400px) {
    .footer {
        max-height: 30vh;
    }
}

.footerHeight {
    display: grid;
    grid-template-columns: 50% 50%;
    /*margin-top: 10px;*/
}

.imageLogo {
    height: 8vh;
    margin-left: 1vh;
    margin-top: 1vh;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    padding-inline: 0.5vh;
}

.logos {
    max-width: 50vh;
    max-height: 10vh;
    display: grid;
}

.text {
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 25px;
}

.link{
    color: white;
    font-size: 16px;
}