.cover {
  padding: 2% 10% 2% 10%;
  z-index: -1;
  left: 0;
  width: 100%;
  background-color: #d5e2ead7;
}

.error {
  background-color: #c93a1d99;
}

.anm {
  padding: 2% 10% 2% 10%;
  z-index: -1;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #32617d, #d5e2ea9f, #32617d);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
