.iconButton{
    background-color: #000000;
	border: none;
	color: white;
	padding: 3px 3px 2px 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 2px;
	cursor: pointer;
	border-radius: 50%;
}

.controls{
	display: flex;
	background-color: #ffffff;
    flex-direction: row-reverse;
    margin-right: 10%;
}