/*
This is a css for regulonDB Browser site, 
it contains the definition of global styles titles, paragraphs, font, color palette among others.
*/

/*elements HTML*/

/*Variables*/

/*color palette*/
:root{
	--color-blue1: #1F3D4E;
	--color-blue2: #32617D;
	--color-blue3: #3D779B;
	--color-blue4: #72A7C7;
	--color-grey1: #373737;
	--color-grey2: #666666;
	--color-grey3: #999999;
	--color-grey4: #D5D5D7;
	--color-grey5: #F4F5F5;
	--color-rest: #FFFFFF;
	--color-accentA: #C93A1D;
	--color-accentB: #CC9900;
}
/*font family */
:root{
	--fontFamily-principal: sans-serif;
	--fontFamily-option: Arial, Helvetica, sans-serif;
	--fontFamily-simpleText: "Times New Roman", Times, serif;
	--fontFamily-sequence:  'Courier New',Courier,monospace;
	
}

/*all site*/
* {
  box-sizing: border-box;
}

body{
	padding-top: 1%;
	background-color: var(--color-rest);
    font-family: var(--fontFamily-principal);
    margin: 0px;
}

/*Titles*/

:root{
	--color-title: var(--color-blue2);
	--color-subtitle: var(--color-grey1);
	--font-title: var(--fontFamily-principal);
	--fontStyle-title: normal;
	--fontWeight: bold;
	--lineHeight-title: normal;
}

h1 {
	font-size: 24px;
	font-family: var(--font-title);
	font-style: var(--fontStyle-title);
	font-weight: var(--fontWeight);
	line-height: var(--fontWeight);
	color: var(--color-title)
}

h2 {
	font-size: 20px;
	font-family: var(--font-title);
	font-style: var(--fontStyle-title);
	font-weight: var(--fontWeight);
	line-height: var(--fontWeight);
	color: var(--color-subtitle)
}

h3 {
	font-size: 18px;
	font-family: var(--font-title);
	font-style: var(--fontStyle-title);
	font-weight: var(--fontWeight);
	line-height: var(--fontWeight);
	color: var(--color-subtitle)
}
h3 {
	font-size: 18px;
	font-family: var(--font-title);
	font-style: var(--fontStyle-title);
	font-weight: var(--fontWeight);
	line-height: var(--fontWeight);
	color: var(--color-subtitle)
}


/* p */

p {
	font-family: var(--fontFamily-principal); 
	font-size: 16px;
	font-style: normal;
	line-height: normal; 
	color: var(--color-grey2);
	font-weight: normal;
}

a {
	font-family: var(--fontFamily-principal); 
	font-size: 12px;
	font-style: normal;
	line-height: normal; 
	color: var(--color-accentB);
	cursor: pointer;
}

a:link {
	font-family: var(--fontFamily-principal);  
	color: var(--color-accentB);
}

a:visited {
	font-family: var(--fontFamily-principal);  
	color: var(--color-accentB);
}

/*TABLES*/

table{
    font-family: arial, sans-serif;
    color: rgb(39, 39, 39);
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid var(--color-grey2);
    text-align: left;
    padding: 10px;
  }

th {
	background-color: var(--color-blue2);
	color: var(--color-rest);
}
  
tr:nth-child(even) {
    background-color: var(--color-grey4);
  }

/*Features*/

.sequence{
	font-family: var(--fontFamily-sequence);
}

.tabHeader{
	background-color: var(--color-grey5);
	padding-left: 10%;
	-webkit-box-shadow: inset -1px -10px 0px -6px var(--color-blue2);
	-moz-box-shadow: inset -1px -10px 0px -6px var(--color-blue2);
	box-shadow: inset -1px -10px 0px -6px var(--color-blue2);
}

.tabActive{
	background-color: var(--color-rest);
	color: black;
	-webkit-box-shadow: inset 0px 5px 0px 3px var(--color-blue2);
	-moz-box-shadow: inset 0px 5px 0px 3px var(--color-blue2);
	box-shadow: inset 0px 5px 0px 3px var(--color-blue2);
}