.Panel{
    background: #cadce7;
    width: 80%;
    padding: 1px 5% 1px 5%;
    margin-bottom: 1%;
    position: relative;
    vertical-align: middle;
    transition: transform 400ms ease;
}

.Panel:hover{
    transform: scale(1.02);
    background: #72a7c7;
    color: white !important; 
}

.title{
    color: #3c596b;
}

.title:hover{
    color: white;
}

.matchText{
    font-size: 12px;
}

.matchText:hover{
    color: white ; 
}

.gridContainer {
    display: grid;
    grid-gap: 3px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
  }
  .gridItem {
    display: grid;
    background-color: rgb(243, 220, 171);
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
  }