.dropdown{
    position: relative;
    width: 1087px;
    height: 35px;
    left: 143px;
    font-size: 14px;
    font-family: Arial;
    text-align: center;
}

.droptownTitle:hover{
    background-color: #1f3d4e !important;
}