  .toolBar{
    background-color: rgba(213, 226, 234, 0.85);
    height: 50px;
    display: flex;
  }
  .autoCompleat{
    padding-left: 2%;
    padding-top: 0.8%;
  }
  .comboBox{
    margin-left: 40%;
    padding-right: none;
    padding-top: 0.8%;
    width: 20%;
  }
 
  
  .buttonIcon:hover{
   background-color: #497d9c; 
    box-shadow: none;
  }
  
  .iconMenu{
    font-size: 35px;
    color: white;
  }

  