.singleReaction_controls_selectReaction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchGuElements {
  background-color: #f4f5f5c4;
  position: absolute;
  width: 250px;
  height: 400px;
  z-index: 10;
  overflow: auto;
  margin-top: 30px;
}

.searchGuElement{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
    display: flex;
    align-items: center;
}
