.motif_row_sequence{
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
}

.motif_row_note{
    white-space: nowrap;
    overflow: hidden;
}

.motif_row_note:hover{
    white-space: nowrap;
    overflow: visible;
}

.motif_head {
    display: grid; 

    grid-template-rows: 1fr;
    grid-template-columns: 25% 5% 70%;
    
    gap: 0px;
    height: 100%;
}

.motif_row {
    display: grid; 

    grid-template-rows: 1fr;
    grid-template-columns: 25% 5% 70%;
    
    gap: 0px;
    height: 100%;

}
