.rdb_input_position{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rdb_middle_input{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rdb_form_title{
    display: flex;
    align-items: center;
    background-color: #cadce7;
}

.rdb_button_form{
    margin-right: 2px;
}

.rdb_inputButton{
    display: flex;
    justify-content: space-between;
}

.modal_code{
    line-break: anywhere;
    border: 1px dashed #000000;
    padding: 15px;
    background-color: #dfdfdf;
    color: #0037ff;
}