.rdb_input_position{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rdb_middle_input{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rdb_form_title{
    display: flex;
    align-items: center;
    background-color: #cadce7;
}